* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Jetbrains mono";
  font-size: 1rem;
}

body {
  background-color: black;
  color: white;
}

button {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness();
}
